# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
ca-certificates=2022.3.18=hecd8cb5_0
certifi=2021.10.8=py39hecd8cb5_2
charset-normalizer=2.0.12=pypi_0
click=8.0.4=pypi_0
filelock=3.6.0=pypi_0
gensim=4.1.2=pypi_0
huggingface-hub=0.4.0=pypi_0
idna=3.3=pypi_0
jinja2=3.1.1=pypi_0
joblib=1.1.0=pypi_0
libcxx=12.0.0=h2f01273_0
libffi=3.3=hb1e8313_2
markupsafe=2.1.1=pypi_0
ncurses=6.3=hca72f7f_2
networkx=2.7.1=pypi_0
nltk=3.7=pypi_0
node2vec=0.4.4=pypi_0
numpy=1.22.3=pypi_0
openssl=1.1.1n=hca72f7f_0
packaging=21.3=pypi_0
pandas=1.4.1=pypi_0
pip=21.2.4=py39hecd8cb5_0
pyparsing=3.0.7=pypi_0
python=3.9.7=h88f2d9e_1
python-dateutil=2.8.2=pypi_0
pytz=2022.1=pypi_0
pyyaml=6.0=pypi_0
readline=8.1.2=hca72f7f_1
regex=2022.3.15=pypi_0
requests=2.27.1=pypi_0
sacremoses=0.0.49=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.8.0=pypi_0
setuptools=58.0.4=py39hecd8cb5_0
six=1.16.0=pypi_0
smart-open=5.2.1=pypi_0
sqlite=3.37.2=h707629a_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.11=h7bc2e8c_0
tokenizers=0.11.6=pypi_0
torch=1.11.0=pypi_0
torch-geometric=2.0.4=pypi_0
torch-scatter=2.0.9=pypi_0
torch-sparse=0.6.13=pypi_0
tqdm=4.63.1=pypi_0
transformers=4.17.0=pypi_0
typing-extensions=4.1.1=pypi_0
tzdata=2021e=hda174b7_0
urllib3=1.26.9=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xz=5.2.5=h1de35cc_0
zlib=1.2.11=h4dc903c_4
